<connectionStrings>
  <add name="QLBanHangEntities"
     connectionString="metadata=res://*/DTO.QLBanHang.csdl|res://*/DTO.QLBanHang.ssdl|res://*/DTO.QLBanHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DNT8O41;initial catalog=QLBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
</connectionStrings>